body {
  margin: 0;
  padding: 0;
  background-color: rgb(14 12 21);
  font-family: monospace;
  color: lightgray;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border: 0.5px solid rgba(110, 101, 114, 0.5);
  z-index: 999;
}

.head-left {
  display: flex;
  align-items: center;
}

.head-left img {
  height: 45px;
  margin-right: 15px;
}

header ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

header ul li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: gray;
  font-weight: 900;
  font-size: 15px;
  transition: 0.3s;
}

header a:hover {
  color: lightgray;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.352);
}

.head-right {
  display: flex;
  align-items: center;
}

.button-box {
  position: relative;
  width: 100px;
  height: 45px;
  margin-left: 25px;
  background: linear-gradient(
    to right,
    #00aaa7,
    #7f42a7,
    #6660c5,
    #1f2b9c,
    #2a46ff,
    #0099ff,
    #00aaa7
  );
  border-radius: 10px;
  background-size: 200%;
  animation: animateOnGradient 2.5s linear infinite;
  clip-path: polygon(
    0 0,
    82% 0,
    100% 34%,
    100% 80%,
    100% 99%,
    0 100%,
    0% 80%,
    0% 20%
  );
}

@keyframes animateOnGradient {
  to {
    background-position: 200%;
  }
}

.head-right button {
  position: absolute;
  inset: 3px;
  border: none;
  background-color: rgb(14 12 21);
  color: lightgray;
  border-radius: 10px;
  clip-path: polygon(
    0 0,
    82% 0,
    100% 34%,
    100% 80%,
    100% 99%,
    0 100%,
    0% 80%,
    0% 20%
  );
  cursor: pointer;
  transition: 0.3s;
}

.head-right button:hover {
  color: #7e00d2;
}

/* Start Hero */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 150vh;
  overflow: hidden;
}

.hero-blur-image {
  position: absolute;
  top: -15%;
  width: 100%;
}

.hero-rings-image {
  position: absolute;
  height: 90%;
  top: 90px;
  opacity: 0.4;
}

.hero-icons-image {
  width: 100%;
  position: absolute;
  top: 8%;
}

.hero h1 {
  position: absolute;
  top: 8%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  max-width: 1000px;
  text-align: center;
  color: #fff;
}

.hero h3 {
  position: absolute;
  top: 22%;
  font-size: 20px;
  max-width: 700px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: gray;
}

.hero button {
  position: absolute;
  top: 30%;
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  width: 140px;
  height: 50px;
  cursor: pointer;
  font-weight: bold;
  clip-path: polygon(
    0 0,
    87% 0,
    100% 34%,
    100% 80%,
    100% 99%,
    0 100%,
    0% 88%,
    0% 20%
  );
  transition: 0.3s;
}

.hero button:hover {
  opacity: 0.7;
  color: #7e00d2;
}

.hero-image-box {
  margin-top: 250px;
  position: relative;
  width: 1000px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    #00aaa7,
    #7f42a7,
    #6660c5,
    #1f2b9c,
    #2a46ff,
    #0099ff,
    #00aaa7
  );
  background-size: 200%;
  animation: animateOnGradient 2.5s linear infinite;
}

.hero-image-box .robot-box {
  width: 98.5%;
  height: 98%;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
}
.hero-image-box .robot-box img {
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
}

.hero-image-box .robot-box .robot-header {
  height: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.hero-image-box .element1,
.hero-image-box .element2 {
  position: absolute;
  backdrop-filter: blur(10px);
  width: 25%;
  border-radius: 15px;
}
.hero-image-box .element1 {
  position: absolute;
  top: 25%;
  right: -15%;
}

.hero-image-box .element2 {
  position: absolute;
  top: 45%;
  left: -15%;
}

.hero-image-box .element1 img,
.hero-image-box .element2 img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.432);
}

.parallax {
  transition: transform 1s linear;
}
/* End Hero */
